.home__bg{
    background-image: url("https://images.unsplash.com/photo-1531482615713-2afd69097998?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZnJpZW5kbHklMjBiYWNrZ3JvdW5kJTIwd2l0aCUyMHBlb3BsZXxlbnwwfHwwfHx8MA%3D%3D");
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;


}
.home-message-icon {
    margin-left: 10px;
    display: inline-block;
}